#room {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 350px;
  }

  #video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    #video-player {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  #video-info {
    padding: 1rem;
    border: 1px solid #dad8de;
    border-radius: 0 0 6px 6px;
    border-top: 0;
  }
}
